doctype html
html
    head
        title Passion Dance Academy
        block scripts
        block style
    body
        nav#navbar.top
            ul
                div#logo
                    img(src="/static/img/logo.png")
                    | PDA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]

        block content
        footer
            | Copyright &copy 2020 PassionDanceAcademy.com | All rights reserved
